@use "../../styles/variables";

app-navbar {
    display: none;
}

.header {
    background-color: variables.$White;
    position: relative;
    z-index: 2;
    &__container {
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;
        background-color: variables.$White;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    #menu-checkbox:checked ~ app-navbar {
        display: contents;
    }
    &__open-menu-btn {
        background: transparent url(../../assets/icon-hamburger.svg) no-repeat center center;
        border: none;
        transform: rotate(180deg);
        transition: transform .3s ease, background .3s ease;
        label {
            cursor: pointer;
        }
    }
    #menu-checkbox:checked ~ .header__open-menu-btn {
        background-image: url(../../assets/icon-close.svg);
        transform: rotate(0);
    }
    &__menu-icon {
        opacity: 0;
        position: relative;
        z-index: -1;
    }
}

input[type="checkbox"] {
    display: none;
}

app-button {
    display: none;
}



@media screen and (min-width: 768px) {
    .header__container {
        padding: 1rem;
        max-width: 1140px;
        margin: auto;
    }
    .header__menu-icon {
        display: none;
    }
    
    app-navbar {
        display: contents;
    }       

    app-button {
        display: block;
        white-space: nowrap;
    }
}