.header__container {
    margin: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

app-navbar {
    // display: contents;
    display: none;
}