@use "../../styles/variables";

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
}

@mixin bgShift($imageWhite, $imageGreen) {
    background: url($imageWhite) center center no-repeat;
    transition: background .2s ease;
    &:hover {
        background: url($imageGreen) center center no-repeat;
    }
}

.footer {
    background-color: variables.$Dark-Blue;
    &__container {
        @include flex(column);
        gap: 2rem;
        padding: 3rem 0;
    }
    &__logo-and-socials {
        @include flex(column);
        gap: 1.75rem;
    }
    &__social-media-link {
        a {
            img {
                opacity: 0;
            }
        }
        &:nth-child(1) {
            @include bgShift("../../assets/icon-facebook.svg", "../../assets/icon-facebook-green.svg")
        }
        &:nth-child(2) {
            @include bgShift("../../assets/icon-youtube.svg", "../../assets/icon-youtube-green.svg")
        }
        &:nth-child(3) {
            @include bgShift("../../assets/icon-twitter.svg", "../../assets/icon-twitter-green.svg")
        }
        &:nth-child(4) {
            @include bgShift("../../assets/icon-pinterest.svg", "../../assets/icon-pinterest-green.svg")
        }
        &:nth-child(5) {
            @include bgShift("../../assets/icon-instagram.svg", "../../assets/icon-instagram-green.svg")
        }
    }
    &__socials-list {
        list-style: none;
        @include flex(row);
        gap: 1.2rem;
    }
    &__useful-links-container {
        @include flex(column);
        gap: 1rem;
    }
    &__useful-links {
        list-style-type: none;
        @include flex(column);
        gap: 1rem;
    }
    &__useful-link {
        text-decoration: none;
        color: variables.$Light-Grayish-Blue;
        font-weight: 300;
        font-size: 0.9rem;
        transition: color .2s ease;
        &:hover {
            color: variables.$Lime-Green;
        }
    }
    &__button-and-rights{
        @include flex(column);
        gap: 1.25rem;
        p {
            color: variables.$Grayish-Blue;
            font-size: 0.9rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        &__container {
            display: grid;
            grid-template-columns: auto 1fr 1fr;
            max-width: 1140px;
            margin: auto;
            padding: 3rem 0;
        }
        &__logo-and-socials {
            @include flex(column);
            width: fit-content;
            align-items: start;
            gap: 3.25rem;
        }
        &__socials-list {
            @include flex(row);
            gap: 1rem;
        }
        &__useful-links-container {
            @include flex(row);
            justify-content: center;
            gap: 8rem;
        }
        &__useful-links {
            @include flex(column);
            align-items: start;
            gap: .8rem;
        }
        &__useful-link {
            font-weight: 300;
            font-size: 0.9rem;

        }
        &__button-and-rights{
            align-items: end;
            p {
                color: variables.$Grayish-Blue;
                font-size: 0.9rem;
            }
        }
    }
}