@use "../../../../styles/variables";

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    &__title {
        font-weight: 400;
        font-size: 1.25rem;
    }
    &__paragraph {
        color: variables.$Grayish-Blue;
        line-height: 1.6;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 768px) {
    .benefits {
        align-items: start;
        text-align: start;
        gap: 2.5rem;
        &__title {
            font-weight: 400;
            font-size: 1.5rem;
            padding: 0.2rem 0;
        }
        &__paragraph {
            color: variables.$Grayish-Blue;
            line-height: 1.6;
            font-size: 1rem;
            transform: translateY(-14px);
        }
    }
}