<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__list-item">
            <a href="#">Home</a>
        </li>
        <li class="navbar__list-item">
            <a href="#">About</a>
        </li>
        <li class="navbar__list-item">
            <a href="#">Contact</a>
        </li>
        <li class="navbar__list-item">
            <a href="#">Blog</a>
        </li>
        <li class="navbar__list-item">
            <a href="#">Careers</a>
        </li>
    </ul>
</nav>
