@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$Dark-Blue: #2d314d;
$Lime-Green: #31d35c;
$Bright-Cyan: #2bb7da;
$Grayish-Blue: #9698a6;
$Light-Grayish-Blue: #f3f4f6;
$Very-Light-Gray: #fafafa;
$White: #ffffff;

$Public-Sans: "Public Sans", sans-serif;