@use "../../../styles/variables";

.navbar {
    position: absolute;
    right: 0;
    top: 50px;
    width: 100%;
    background-color: variables.$White;
    box-shadow: 0 20px 100px #0000003a;
    border-radius: 10px;
    &__list {
        list-style-type: none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    &__list-item {
        a {
            text-decoration: none;
            color: #000000;
        }
    }
}

@media screen and (min-width: 768px) {
    .navbar {
        position: static;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &__list {
            padding: 0;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
        }
        &__list-item {
            a {
                text-decoration: none;
                color: variables.$Grayish-Blue;
            }
        }
    }
}