@use "../../../styles/variables";

.next-gen {
    background: url(../../../assets/bg-intro-mobile.svg) center -60px no-repeat;
    background-size: contain;
    position: relative;
    margin-bottom: -2.5rem;
    &__image-mockups {
        width: 100%;
        padding: 0 1rem;
        transform: translateY(-120px);
    }
    &__text-container {
        transform: translateY(-100px);
        text-align: center;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    &__title {
        font-weight: 400;
        font-size: 2.25rem;
    }
    &__paragraph {
        color: variables.$Grayish-Blue;
        font-size: 0.9rem;
        line-height: 1.7;
        font-weight: 500;
        padding-bottom: 0.5rem;
    }
}